/* general */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: regular;
    src: url(../assets/fonts/regular.ttf);
}

@font-face {
    font-family: bookman;
    src: url(../assets/fonts/BookmanJFPro-Regular.ttf);

}

header {
    background-color: #353535;
    height: 100%;
}

h1 {
    font-size: 130px;
    color: #e6ba46;
    text-align: center;
    font-family: regular;
    letter-spacing: -9px;
    padding: 1vh;

}

.barras {
    color: #e6ba46;
    background: none;
    border: none;
    font-size: 40px;
    padding: 7px 20px;
    float: right;
    visibility: hidden;

}

nav {
    background-color: #232323;
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.menu_item {
    font-size: 17px;
    list-style-type: none;
    font-family: bookman;
    padding-inline-start: 4vw;
    background-color: #232323;

}

.menu_link {
    text-decoration: none;
    color: #e6ba46;
    padding: 8px 12px;
    border-radius: 5px;

}

.menu_link:hover {
    background-color: #353535;
    transition: .5s;
}

body {
    position: relative;
    min-height: 100%;
}

.main-general {
    background-color: #f3ebd8;
}

footer {
    background-color: #353535;
    height: 6vh;
}

.redes {
    padding: 3px;
    position: relative;
    top: 1vh;
}

 @media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #353535;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
    }
} 

@media (max-width: 768px) {
    h1 {
        font-size: 100px;
    }
}
@media (max-width: 768px) {
    .barras {
        visibility: visible;
    }
}



/* home */
.wrapper {
    display: grid;
    grid-template-areas:
        "home_header"
        "tom_video"
        "bio"
        "footer_home";
    grid-template-rows: 166px 1fr 1fr 60px;
    width: 100%;
    height: 100vh;
}

.home_header {
    grid-area: home_header;
}

.tom_video {
    grid-area: tom_video;
}

.publicidad {
    grid-area: publicidad;
    background-color: #e6ba46;
    background: linear-gradient(180deg, #e6ba46, #f3ebd8);
    visibility: hidden;
   
}

.bio {
    grid-area: bio;
    font-family: bookman;
    font-size: 80px;
    background: linear-gradient(0deg, #f3ebd8, #e6ba46);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.img-music{
    width: 700px;
    height: 500px;
    
}

.footer_home {
    grid-area: footer_home;
}

@media screen and (min-width:992px) {

    .wrapper {
        display: grid;
        grid-template-areas:
            "home_header home_header"
            "tom_video tom_video"
            "bio publicidad"
            "footer_home footer_home";
        grid-template-columns: auto 170px;
    }

    .publicidad {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    .logo-marcas{
        width: 150px;
        height: 60px;
    }
   
}
@media (max-width: 768px) {
    .bio{
        font-size: 50px;
    }    
}

video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

article.pie {
    font-family: bookman;
    text-shadow: 3px 3px 6px #353535;

}

.video_link {
    color: #232323;
}

/* discografia  */

.disc_wrapper {
    display: grid;
    grid-template-areas: 
    "disc_header"
    "main-disc"
    "footer_disc";
    grid-template-rows: 166px 1fr 60px;
    width: 100%;
    height: 100vh;
}
.disc_header {
    grid-area: disc_header;
}

.main-disc {
    grid-area: main-disc;
    background-color: #f3ebd8;
    display: flex;
    justify-content: center;
}
.footer_disc{
    grid-area: footer_disc;
}
.discos {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 7vh;
    padding-bottom: 3vh;

}

.disco {
    padding-bottom: 3vh;
    font-family: bookman;
}

.disco-img {
    width: 250px;
    height: 250px;
}

.nombre {
    font-size: larger;
    font-style: italic;
    text-align: center;
}

.genero {
    font-size: small;
    text-align: center;
}

.año {
    font-size: smaller;
    text-align: center;
}

.plataformas {
    text-align: center;
}

@media (max-width: 768px) {
    .discos {
        flex-direction: column;
        align-items: center;
    }

}

/* tour */
.main-general {
    background-color: #f3ebd8;
}

.main-section {
    padding: 5vh;
}

table {
    margin: 0 auto;
    font-family: bookman;
    border-bottom: 1px solid #353535;
    border-collapse: collapse;

}

td {
    padding: 30px;
    border-bottom: 1px solid #353535;
}

.boton {
    border: 1px solid #353535;
    padding: 20px 40px 20px 40px;
    background-color: #353535;
    color: #e6ba46;
    font-family: bookman;
    border-radius: 20px;
}
.boton:hover {
    background-color: #f3ebd8;
    transition: .5s;
}

/* merch */

.tienda {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: bookman;
}

.articulos {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.articulo {
    padding: 10px;
    text-align: center;
}

/* contacto */

.formulario {
    width: 600px;
    margin: 0 auto;
    font-family: bookman;
    padding: 20px;

}

.campo {
    padding: 10px;
}
