/* general */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: regular;
    src: url(../assets/fonts/regular.ttf);
}

@font-face {
    font-family: bookman;
    src: url(../assets/fonts/BookmanJFPro-Regular.ttf);
}
html {
        width: 100%;
        height: 100vh;
}
        
header {
    background-color: #353535;
}

h1 {
    font-size: 120px;
    color: #e6ba46;
    text-align: center;
    font-family: regular;
    letter-spacing: -7px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 100px;
    }
}
.navbar{
    background-color: #232323 
    
}
.nav-link{
    font-family: bookman;
    color: #e6ba46;
    border-radius: 5px;
}

.main-general {
    background-color: #f3ebd8;
}

footer {
    background-color: #353535;
    height: 6vh;
    bottom: 0;
}

.redes {
    padding: 3px;
    position: relative;
    top: 1vh;
}
.fa:hover{
    color: #e6ba46;
}

/* home */

.publicidad {
    background-color: #e6ba46;
    background: linear-gradient(180deg, #e6ba46, #f3ebd8);
}

.bio {
    background: linear-gradient(0deg, #f3ebd8, #e6ba46);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.img-music{
    width: auto;
    height: 300px;
    
}

@media screen and (min-width:768px) {
    .publicidad {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    .logo-marcas{
        width: 150px;
        height: 60px;
      
    }
    .img-music{
        width: 700;
        height: 500px;
    }
}

video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

article.pie {
    font-family: bookman;
    text-shadow: 3px 3px 6px #353535;

}

.video_link {
    color: #232323;
}
.banda {
    background-color: #f3ebd8;
}
.card {
    background-color: #f3ebd8;
    border: none;
    border-radius: 0%;
}

.card-img {
    width: 100%;
    height: 100%;
}
.card-title {
    font-family: bookman;
    color: #353535;
}


/* discografia  */


.main-disc {
    background-color: #f3ebd8;
}
.disco {
    padding-bottom: 3vh;
    font-family: bookman;
}

.disco-img {
    width: 250px;
    height: 250px;
}

.nombre {
    font-size: larger;
    font-style: italic;
}

.genero {
    font-size: small;
} 

.año {
    font-size: smaller;
}

/* tour */
 .main-general {
    background-color: #f3ebd8;
}

table {
    margin: 0 auto;
    font-family: bookman;
    border-bottom: 1px solid #353535;
    border-collapse: collapse;

}

td {
    padding: 30px;
    border-bottom: 1px solid #353535;
}

.boton {
    border: 1px solid #353535;
    padding: 20px 40px 20px 40px;
    background-color: #353535;
    color: #e6ba46;
    font-family: bookman;
    border-radius: 20px;
}
.boton:hover {
    background-color: #f3ebd8;
    transition: .5s;
} 

/* merch */

 .main-general {
    font-family: bookman;
}

/* contacto */

.btn {
    background-color: #353535;
    color: #e6ba46;
    border: #353535;
}
